/* Overall styling */
body {
  color: #BDC3C7; /* Set overall font color */
  background-color: #19232D; /* Set background color */
  font-family: "Nunito", sans-serif; /* Set overall font */
  font-size: 14px; /* Set overall font size */
}

/* Navigation bar */
.navbar-inverse {
  background-color: #19232D; /* Set navbar background color */
  border-width: 0; /* Remove navbar border */
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #FF2D55; /* Set navbar item hover background color */
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #4F6F8F; /* Set navbar item active background color */
}
.navbar-inverse > .container-fluid > .navbar-collapse {
  border-width: 0; /* Remove navbar border for mobile */
  font-weight: 700; /* Set navbar item font weight */
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #34495E; /* Set navbar button hover background color for mobile */
}
.navbar-inverse .navbar-toggle:focus {
  background-color: #19232D; /* Set navbar button focus background color for mobile */
}
.navbar-inverse > .container-fluid > .navbar-header > .navbar-brand {
  color: #FF2D55; /* Set navbar title font color */
  font-weight: 900; /* Set navbar title font weight */
  margin-left: -22px; /* Set distance between title and logo */
}
@media (max-width: 767px) {
  .navbar-logo img {
    margin-right: 0; /* Remove right margin from logo on mobile */
    padding-left: 15px; /* Adjust left padding for logo on mobile */
  }
  .navbar-inverse > .container-fluid > .navbar-header > .navbar-brand {
    margin-left: -10px; /* Set distance between title and logo on mobile */
  }
}

/* Sidebar */
.sidebar-header {
  color: #ECF0F1;
  text-align:center;
}
.section > .sidebar {
  background-color: #19232D; /* Set sidebar background color */
  border-width: 0; /* Remove sidebar border */
  padding-top: 10px; /* Set sidebar top padding */
}
.dataTables_wrapper > .dataTables_scroll > .dataTables_scrollBody {
  border: 0; /* Remove sidebar table border */
}
@media (max-width: 767px) {
  .level2 > div:first-child {
    background-color: #19232D; /* Set sidebar background color for mobile */
    border-width: 0; /* Remove sidebar border for mobile */
  }
}

/* Panels */
.section > .level3 > .chart-title {
  display: none; /* Remove panel chart title */
}
.dashboard-row > .level3 > .chart-stage {
  background-color: #2C3E50; /* Set panel background color */
}
.dashboard-row > .level3 {
  border-width: 0; /* Remove panel border */
}
.chart-shim {
  top: 0; /* Remove panel top padding */
}
@media (max-width: 767px) {
  .dashboard-column > .level3:not(:first-child) > .chart-stage {
    background-color: #2C3E50; /* Set panel background color for mobile */
  }
  .dashboard-column > .level3:not(:first-child) {
    border-width: 0; /* Remove panel border for mobile */
  }
}

/* Panel headers */
.panel-header {
  align-items: center; /* Align panel header items to center */
  color: #ECF0F1; /* Set panel header font color */
  display: flex; /* Set panel header display to flex */
  padding: 5px; /* Adjust bottom padding for panel header */
  vertical-align: middle; /* Align panel header items to middle */
}
.panel-header > .glyphicon {
  font-size: 20px; /* Set panel header icon size */
  padding: 0 10px 3px 5px; /* Adjust padding for panel header icon */
}
h6 {
  font-family: "Nunito", sans-serif; /* Set panel header font */
  font-size: 16px; /* Set panel header font size */
  font-weight: 900; /* Set panel header font weight */
  letter-spacing: 0.1em; /* Set panel header letter spacing */
}

/* Highcharts */
.highcharts-drillup-button > .highcharts-button-box {
  fill: #BDC3C7; /* Set drillup button background color */
  stroke-width: 0; /* Remove drillup button border */
}
.highcharts-drillup-button > text {
  font-family: "Nunito", sans-serif; /* Set drillup button font */
}

/* League: Team news */
tbody > tr > td[colspan="4"] {
  background-color: #6C777F; /* Set expansion row background color */
  border: 0; /* Remove expansion row border */
}